:root {
  --board-width: 80vw;
  --background-color: #212121;
  --board-color: #303030;
  --card-color: #424242;
  --subtle-border-radius: 2px;
  --duration: 0.5s;
  --ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
